@using PagedList.Mvc
@using PagedList
@model slnMyStudy.Models.ViewModel.ProductsCategoriesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    List<slnMyStudy.Models.Categories> categories = ViewBag.CategoryList;
    List<slnMyStudy.Models.Suppliers> suppliers = ViewBag.SupplierList;
}
<div class="row">
    <div class="col-sm-2">
        <h5>
            @Html.DisplayNameFor(m => m.ProductsList.FirstOrDefault().Categories.CategoryName)
        </h5>
        @foreach (var item in Model.CategoriesList)
        {
            <p>
                @Html.ActionLink(item.CategoryName, "Index", new {  area = "Admin", catId = item.CategoryID })
            </p>
        }
    </div>
    <div class="col-sm-10">

        <p>
            @Html.ActionLink("新增產品", "Create", new { area = "Admin" }, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductsList.FirstOrDefault().ProductName)
                </th>
                <th style="width:10%">
                    @Html.DisplayNameFor(model => model.ProductsList.FirstOrDefault().SupplierID)
                </th>
                <th style="width:10%">
                    @Html.DisplayNameFor(model => model.ProductsList.FirstOrDefault().CategoryID)
                </th>
                <th style="width:10%">
                    @Html.DisplayNameFor(model => model.ProductsList.FirstOrDefault().QuantityPerUnit)
                </th>
                <th style="width:10%">
                    @Html.DisplayNameFor(model => model.ProductsList.FirstOrDefault().UnitPrice)
                </th>
                <th style="width:10%">
                    @Html.DisplayNameFor(model => model.ProductsList.FirstOrDefault().Discontinued)
                </th>
                <th style="width:20%">功能</th>
            </tr>

            @foreach (var item in Model.ProductsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @suppliers.Where(m => m.SupplierID == item.SupplierID).FirstOrDefault().CompanyName
                    </td>
                    <td>
                        @categories.Where(m => m.CategoryID == item.CategoryID).FirstOrDefault().CategoryName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @if (item.Discontinued)
                        {
                            @:是
                        }
                        else
                        {
                            @:否
                        }
                    </td>
                    <td style="white-space: nowrap">
                        <a class="btn btn-primary" href="@Url.Action("Edit","Product",new { area = "Admin"})?id=@item.ProductID">編輯</a>
                        <a class="btn btn-info" href="@Url.Action("Details","Product",new { area = "Admin"})?id=@item.ProductID">詳細</a>
                        <a class="btn btn-danger" href="javascript:void(0)" onclick="Delete('@item.ProductID',this)">刪除</a>
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model.ProductsPageList, page => Url.Action("Index", new { page, area = "Admin", @ViewBag.catId }))
    </div>

</div>

@section scripts{
    <script>
         function Delete(id, obj) {
             window.Delconfirm("確定刪除該筆資料?").then(function () {
                 var url = '@Url.Action("Delete","Product",new { area = "Admin"})';
                 $.ajax({
                     url: url,
                     data: { id: id },
                     type: 'POST',
                     async: false,
                     success: function (result) {
                         window.Msgalert("刪除成功");
                         $(obj).closest("tr").remove();
                     }
                 });
             }, function () {
             });
         }
         function Msgalert(content) {
             $("<div></div>").kendoAlert({
                 title: "結果",
                 content: content
             }).data("kendoAlert").open();
         }
         function Delconfirm(content) {
             return $("<div></div>").kendoConfirm({
                 title: "刪除確認",
                 content: content
             }).data("kendoConfirm").open().result;
         }
    </script>

}
